* {
    box-sizing: border-box;
    margin: 0;

}

@font-face {
    font-family: mosaic;
    src: url(font/PaletteMosaic-Regular.ttf);
}

html {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-size: 1.5rem;
    margin: 0;
    position: relative;
    background-color: #292929e0;
}

body.rtl {
    direction: rtl;
}


img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: black;
}


/*HELPERS*/
.grid {
    display: grid;
}

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

/* HEADER */

.main-layout {
    width: 980px;
    margin: 0 auto;
}


.main-header {
    height: 100px;
    border-bottom: solid 6px #1e1e1e;
    background-color: #292929;
}

.logo img {
    width: 200px;
}

/* NAV */
.main-nav .nav {
    display: block;
    width: 130px;
    line-height: 100px;
    text-align: center;
}

.main-nav a {
    color: orangered;
}

.main-nav .nav:hover {
    color: gray;
}

a.active {
    color: white;
}

.trans {
    background-color: orangered;
}

/* MAIN  -- GALLERY */
#pictures {
    background-color: orangered;
    display: block;
    margin: 10px auto 10px;
    width: 200px;
    height: 30px;
}

/* .zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
} */


.zoom {
    filter: blur(2px);

}

.zoom:hover {
    -webkit-filter: blur(0);
    filter: blur(0);
}
.container {
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.pictures-container img {
    cursor: pointer;
}

.editor {
    padding-top: 5rem;
    padding-bottom: 5rem;
    display: none;
    justify-content: center;
    gap: 10px;
}

.canvas-container {
    margin: 0;
    padding: 0;
    width: 400px;
    height: 400px;
}

#canvas-edit {
    background-color: pink;
    margin: 0;
    padding: 0;
}

.editor-manage {
    width: 400px;
    padding: 5px 5px;
    justify-content: space-around;
    border: solid 1px black;
}

.meme-text {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    width: 80%;
}

.manage-text {
    justify-content: center;
    gap: 10px;
    padding: 0;
    margin: 10px;
}

.manage-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    cursor: pointer;

}

.modify-text {
    background-color: #fff;
    margin: auto;
    border-radius: 15px;
    grid-template-columns: repeat(4, 70px);
    grid-template-rows: repeat(3, 70px);
    grid-template-areas:
        "up down txtup txtdown"
        "aleft aright acenter colorTxt"
        "select select select select";
    justify-items: stretch;
    align-items: stretch;
}

.size-up {
    grid-area: up;
}

.size-down {
    grid-area: down;
}

.txt-up {
    grid-area: txtup
}

.txt-down {
    grid-area: txtdown
}

.align-left {
    grid-area: aleft;
}

.align-center {
    grid-area: aright;
}

.align-right {
    grid-area: acenter;
}

.color {
    grid-area: colorTxt;
}


.font-select {
    grid-area: select;
    height: 50px;
    border-radius: 10px;
    background-color: orangered;
}

.share-container {
    background-color: rgba(255, 255, 255, 0.267);
}

.upload {
    background-color: orangered;
    width: 100px;
    border-radius: 10px;
    height: 30px;
    font-size: large;
}

a.download {
    margin: auto;
}

.main-footer {
    height: 100px;
    border-top: solid 6px #1e1e1e;
    background-color: #292929;
    font-size: 1.5rem;
    color: orangered;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



@media (max-width:980px) {

    /* HEADER */
    .main-layout {
        width: 700px;
    }

    .main-header {
        height: 80px;
    }

    .logo img {
        width: 150px;
    }

    /* NAV */
    .main-nav .nav {
        line-height: 80px;
    }

    /* MAIN  -- GALLERY */
    .container {
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .manage-text {
        justify-content: space-around;
        margin: 10px;
    }

    .main-footer {
        height: 80px;
    }
}



@media (max-width:780px) {

    /* HEADER */

    .main-layout {
        width: 400px;
        margin: 0 auto;
    }


    .main-header {
        height: 70px;
    }

    .logo img {
        width: 100px;
    }

    /* NAV */
    .main-nav .nav {
        width: 100px;
        line-height: 80px;
        /* text-align: center; */
    }

    /* MAIN  -- GALLERY */
    .container {
        grid-gap: 0.5rem;
        grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
        margin: 5px;
    }

    .canvas-container {
        margin-top: 1rem;
    }

    .pictures-container img {
        cursor: pointer;
    }

    .editor {
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 1rem;
        display: none;
    }

    .manage-text {
        justify-content: center;
    }
}